-# mylist#show、mylistにある動画を表示する画面
.detail
  .sort
    .sort--all
      All
    .sort--onair
      ライブ配信中
    .sort--planned
      公開予定
  -# All
  .video-boxes-all
    .video-days
      .video-days-title
        = icon('fas', 'chevron-down', class: 'video-days-icon-down')
        = icon('fas', 'chevron-up', class: 'video-days-icon-up')
        Today
      .video-days-contents
        - if @videos_all_today.length == 0 then
          動画配信情報ありません
        - else
          - @videos_all_today.each do |video|
            = render partial: 'video_template', locals: { video: video }

    .video-days
      .video-days-title
        = icon('fas', 'chevron-down', class: 'video-days-icon-down')
        = icon('fas', 'chevron-up', class: 'video-days-icon-up')
        Yesterday
      .video-days-contents
        - if @videos_all_yesterday.length == 0 then
          動画配信情報ありません
        - else
          - @videos_all_yesterday.each do |video|
            = render partial: 'video_template', locals: { video: video }

    .video-days
      .video-days-title
        = icon('fas', 'chevron-down', class: 'video-days-icon-down')
        = icon('fas', 'chevron-up', class: 'video-days-icon-up')
        Day before yesterday
      .video-days-contents
        - if @videos_all_2daysAgo.length == 0 then
          動画配信情報ありません
        - else
          - @videos_all_2daysAgo.each do |video|
            = render partial: 'video_template', locals: { video: video }

  -# ライブ配信中
  .video-boxes-onair
    - @videos_onair.each do |video|
      = render partial: 'video_template', locals: { video: video }
    - if @videos_onair.length == 0 then
      .novideo-notice
        このmylistにはライブ配信中の動画がありません

  -# 公開予定
  .video-boxes-planned
    - @videos_planned.each do |video|
      = render partial: 'video_template', locals: { video: video }
    - if @videos_planned.length == 0 then
      .novideo-notice
        このmylistには公開予定の動画がありません
