.detail
  .video-boxes-all
    - @mylists.each do |mylist|
      = link_to user_mylist_path(current_user, mylist.id) do
        .video-box
          .detail--box__top
            .detail--box__top__image
              = image_tag(src= "#{mylist.vtubers.order("RAND()").first.icon}", class: "image")
            .detail--box__top__right
              .detail--box__top__right__vtuber-info
                #{mylist.vtubers.length}名
                %br
                vtuber
              .detail--box__top__right__icon
                = icon('fas', 'bars', class: 'num_icon')
          .detail--box__bottom
            .detail--box__bottom__name
              = mylist.name
            .detail--box__bottom__date
              Last updated:
              = mylist.updated_at.strftime("%Y.%m.%d %H:%M")
