.detail
  .video-boxes-all
    - @mylists.each do |mylist|
      = link_to user_mylist_path(current_user, mylist.id) do
        .video-box
          .detail--box__top
            .detail--box__top__image
              = image_tag(src= "#{mylist.vtubers.order("RAND()").first.icon}", class: "image")
            .detail--box__top__right
              .detail--box__top__right__vtuber-info
                #{mylist.vtubers.length}名
                %br
                vtuber
              .detail--box__top__right__icon
                = icon('fas', 'folder', class: 'num_icon')
            .detail--box__top__right-menu
              = link_to edit_user_mylist_path(current_user, id: mylist.id) do
                .detail--box__top__right-menu--edit
                  = icon('fas', 'pencil-alt', class: 'mylist_menu_icon')
                  編集
              .detail--box__top__right-menu--delete
                = icon('fas', 'trash', class: 'mylist_menu_icon')
                削除
              .detail--box__top-confirm
                .detail--box__top-confirm__text
                  削除しますか？
                .detail--box__top-confirm__confirm
                  = link_to user_mylist_path(current_user, id: mylist.id), method: :delete do
                    .detail--box__top-confirm__yes
                      はい
                  .detail--box__top-confirm__no
                    いいえ
          .detail--box__bottom
            .detail--box__bottom__name
              = mylist.name
            .detail--box__bottom__date
              Last updated:
              = mylist.updated_at.strftime("%Y.%m.%d %H:%M")
      

