.detail
  .--box
    .__image
      = image_tag 'https://www.pakutaso.com/shared/img/thumb/mitte222DSCN7817_TP_V.jpg', class: 'image'
    .__name
      mylist 1
    .__number
      vtuber 6人
  .--box
    .__image
      = image_tag 'https://www.pakutaso.com/shared/img/thumb/mitte222DSCN7817_TP_V.jpg', class: 'image'
    .__name
      mylist 1
    .__number
      vtuber 6人
  .--box
    .__image
      = image_tag 'https://www.pakutaso.com/shared/img/thumb/mitte222DSCN7817_TP_V.jpg', class: 'image'
    .__name
      mylist 1
    .__number
      vtuber 6人

  .--box
    .__image
      = image_tag 'https://www.pakutaso.com/shared/img/thumb/mitte222DSCN7817_TP_V.jpg', class: 'image'
    .__name
      mylist 1
    .__number
      vtuber 6人
  .--box
    .__image
      = image_tag 'https://www.pakutaso.com/shared/img/thumb/mitte222DSCN7817_TP_V.jpg', class: 'image'
    .__name
      mylist 1
    .__number
      vtuber 6人
  .--box
    .__image
      = image_tag 'https://www.pakutaso.com/shared/img/thumb/mitte222DSCN7817_TP_V.jpg', class: 'image'
    .__name
      mylist 1
    .__number
      vtuber 6人
  .--box
    .__image
      = image_tag 'https://www.pakutaso.com/shared/img/thumb/mitte222DSCN7817_TP_V.jpg', class: 'image'
    .__name
      mylist 1
    .__number
      vtuber 6人
  .--box
    .__image
      = image_tag 'https://www.pakutaso.com/shared/img/thumb/mitte222DSCN7817_TP_V.jpg', class: 'image'
    .__name
      mylist 1
    .__number
      vtuber 6人
  .--box
    .__image
      = image_tag 'https://www.pakutaso.com/shared/img/thumb/mitte222DSCN7817_TP_V.jpg', class: 'image'
    .__name
      mylist 1
    .__number
      vtuber 6人
  .--box
    .__image
      = image_tag 'https://www.pakutaso.com/shared/img/thumb/mitte222DSCN7817_TP_V.jpg', class: 'image'
    .__name
      mylist 1
    .__number
      vtuber 6人
