-# mylist#show、mylistにある動画を表示する画面
.detail
  .sort
    .sort--all
      All
    .sort--onair
      ライブ配信中
    .sort--planned
      公開予定
  -# All
  .video-boxes-all
    - @videos_all_page.each do |video|
      = render partial: 'video_template', locals: { video: video }
  .pagination-all
    = paginate(@videos_all_page)

  -# ライブ配信中
  .video-boxes-onair
    - @videos_onair.each do |video|
      = render partial: 'video_template', locals: { video: video }
    - if @videos_onair.length == 0 then
      .novideo-notice
        このmylistにはライブ配信中の動画がありません
  .pagination-onair
    = paginate(@videos_onair)

  -# 公開予定
  .video-boxes-planned
    - @videos_planned.each do |video|
      = render partial: 'video_template', locals: { video: video }
    - if @videos_planned.length == 0 then
      .novideo-notice
        このmylistには公開予定の動画がありません
  .pagination-planned
    = paginate(@videos_planned)
