.detail
  - current_user.mylists.each do |mylist|
    .--box
      = link_to user_mylist_path(current_user, mylist.id) do
        .__image
          -if mylist.cover.length == 0
            = icon('fas', 'exclamation-circle', class: 'image')
          -else
            = image_tag mylist.cover.to_s, class: 'image'
        .__name
          = mylist.name
        .__number
          #{mylist.vtubers.length}åvtuber
