= form_for mylist, url: new_user_mylist_path, data: { remote: false }, :html => {:class => "form-new-mylist"} do |f|
  .mylist-form__errors
    %h2 10件のエラーが発生しました
    %ul
      %li nameを入力してください
  .mylist-form__field
    .mylist-form__field--left
      = f.label :name, class: 'mylist-form__label'
    .mylist-form__field--right
      = f.text_field :name, class: 'mylist_name mylist-form__input', placeholder: 'mylist名を入力してください'

  .mylist-form__field
    .mylist-form__field--left
      %label.mylist-form__label{:for => "mylist_vtuberを検索"} vtuberを検索
    .mylist-form__field--right
      %input.mylist-form__input#mylist-form__input{:placeholder => "追加したいvtuber情報（名前、Twitter、会社名）を入力してください", :type => "text"}/
    #vtuber-search-results

  .mylist-form__field.clearfix
    .mylist-form__field--left
      %label.mylist-form__label{:for => "mylist_vtuber"} mylistにあるvtuber
    
    .mylist-form__field--right
      #mylist-vtubers
        - mylist.vtubers.each do |vtuber|
          .mylist-vtubers
            %input{name: "mylist[vtuber_ids][]", type: "hidden", value: vtuber.id}
            .mylist-vtubers--name
              = vtuber.name
            .mylist-vtubers--twitter
              @
              = vtuber.twitter
            .mylist-vtubers--company
              = vtuber.company
            .mylist-vtubers--delete{data: {vtuber: {id: vtuber.id, name: vtuber.name}}}
              削除
  .mylist-form__field-bottom
    = f.submit class: 'mylist-form__action-btn'