.headbar
  .headbar-icon
    .headbar--menu_icon-right
      = icon('fas', 'chevron-circle-right', class: 'menu_icon')
    .headbar--menu_icon-left
      = icon('fas', 'chevron-circle-left', class: 'menu_icon')
  .headbar--center
    .mylist--name
      - unless @mylist == nil
        = icon('fas', 'folder-open', class: 'mylist--icon')
        .mylist--name--text
          = @mylist.name
  .headbar--right
    .headbar--right__name
      = link_to edit_user_path(current_user), class: 'user_name' do
        = current_user.name
    .headbar--right__logout
      = link_to destroy_user_session_path, method: :delete, class: 'log_out' do
        ログアウト
        = icon('fas', 'sign-out-alt', class: 'logout-icon')