.headbar
  .headbar--menu_icon
    = icon('fas', 'chevron-circle-right', class: 'menu_icon_right')
  .headbar--right
    .headbar--right__name
      = link_to edit_user_path(current_user), class: 'user_name' do
        = current_user.name
    .headbar--right__logout
      = link_to destroy_user_session_path, method: :delete, class: 'log_out' do
        ログアウト
        = icon('fas', 'sign-out-alt', class: 'logout-icon')