-# mylist#show画面の左側メニュー
-# 左側メニュー（細）
.leftbar
  .leftbar--section
    = link_to user_mylists_path(current_user.id) do
      .leftbar--section--icon
        = icon('fas', 'home', class: 'leftbar--section--icon')
      .leftbar--section--text
        ホーム
  .leftbar--section{data: {turbolinks: "false"}}
    = link_to new_user_mylist_path(current_user.id) do
      .leftbar--section--icon
        = icon('fas', 'folder-plus', class: 'leftbar--section--icon')
      .leftbar--section--text
        mylist作成
  .leftbar--section
    = link_to vtubers_path(current_user.id) do
      .leftbar--section--icon
        = icon('fas', 'user', class: 'leftbar--section--icon')
      .leftbar--section--text
        vtuber一覧
  .leftbar--section
    .leftbar--section--icon{ id: "vtuber-search" }
      = icon('fas', 'search', class: 'leftbar--section--icon')
    .leftbar--section--text
      vtuber検索

-# 左側メニュー（太）
.leftbar-detail
  .leftbar-detail--section
    = link_to user_mylists_path(current_user.id), class: "links" do
      = icon('fas', 'home', class: 'leftbar--menu--icon')
      .leftbar-detail--text
        ホーム
  .leftbar-detail--mylist
    -# ユーザーが所有するmylistを表示する
    - @mylists.each do |mylist|
      .leftbar-detail--section
        = link_to user_mylist_path(current_user, mylist.id), class: "links-mylist" do
          = icon('fas', 'folder-open', class: 'leftbar--menu--icon')
          .leftbar-detail--text
            = mylist.name
  .leftbar-detail--section
    = link_to new_user_mylist_path(current_user.id), class: "links" do
      = icon('fas', 'folder-plus', class: 'leftbar--menu--icon')
      .leftbar-detail--text
        mylist作成
  .leftbar-detail--section
    = link_to vtubers_path(current_user.id), class: "links"  do
      = icon('fas', 'user', class: 'leftbar--menu--icon')
      .leftbar-detail--text
        vtuber一覧
  .leftbar-detail--section{ id: "vtuber-search-detail" }
    = icon('fas', 'search', class: 'leftbar--menu--icon')
    .leftbar-detail--text
      vtuber検索

