.leftbar
  .leftbar--section
    = link_to user_mylists_path(current_user.id) do
      .leftbar--section--icon
        = icon('fas', 'home', class: 'leftbar--section--icon')
      .leftbar--section--text
        ホーム
  .leftbar--section
    = link_to new_user_mylist_path(current_user.id) do
      .leftbar--section--icon
        = icon('fas', 'folder-plus', class: 'leftbar--section--icon')
      .leftbar--section--text
        mylist作成
  .leftbar--section
    .leftbar--section--icon{ id: "vtuber-search" }
      = icon('fas', 'search', class: 'leftbar--section--icon')
    .leftbar--section--text
      vtuber検索

.leftbar-detail
  .leftbar-detail--section
    = link_to user_mylists_path(current_user.id), class: "links" do
      = icon('fas', 'home', class: 'leftbar--menu--icon')
      .leftbar-detail--text
        ホーム
  .leftbar-detail--section
    = link_to user_mylist_path(current_user, id: params[:id]), class: "links-mylist" do
      = icon('fas', 'folder-open', class: 'leftbar--menu--icon')
      .leftbar-detail--text
        = @mylist.name
  - @vtubers.each do |vtuber|
    .leftbar-detail--section
      = link_to vtuber_path(vtuber), class: "links-mylist" do
        = icon('fas', 'user', class: 'leftbar--menu--icon')
        .leftbar-detail--text
          = vtuber.name
  .leftbar-detail--section
    = link_to new_user_mylist_path(current_user.id), class: "links" do
      = icon('fas', 'folder-plus', class: 'leftbar--menu--icon')
      .leftbar-detail--text
        mylist作成
  .leftbar-detail--section{ id: "vtuber-search-detail" }
    = icon('fas', 'search', class: 'leftbar--menu--icon')
    .leftbar-detail--text
      vtuber検索