.detail
  .banner
    = image_tag(src= "#{@vtuber.banner}", class: "channel-banner")
  .sort-channel
    .sort-channel--icon
      = image_tag(src= "#{@vtuber.icon}", class: "channel-icon")
    .sort-channel--name
      = @vtuber.channelTitle
    .sort-channel--channel
      = link_to "https://www.youtube.com/channel/#{@vtuber.channel}", class: "sort-channel--channel" do
        = icon('fab', 'youtube')
    .sort-channel--twitter
      = link_to "https://twitter.com/#{@vtuber.twitter}", class: "sort-channel--twitter" do
        = icon('fab', 'twitter')
    .sort--all
      All
    .sort--onair
      ライブ配信中
    .sort--planned
      公開予定
  .video-boxes-all
    - @videos_all_page.each do |video|
      .video-box
        .video-box--video
          = link_to "https://www.youtube.com/watch?v=#{video.videoId}", class: "video-box--name" do
            = image_tag(src= "#{video.cover}", class: "image", height:"118", width: "210")
          -# %iframe#player{frameborder: "0", height:"118", src: "https://www.youtube.com/embed/#{video.videoId}", type: "text/html", width: "210"}
        .video-box--name
          = link_to "https://www.youtube.com/watch?v=#{video.videoId}", class: "video-box--name" do
            = video.name
        .video-box--channel
          = link_to "https://www.youtube.com/channel/#{video.vtuber.channel}", class: "video-box--channel" do
            = video.vtuber.channelTitle
        .video-box--status
          - if video.scheduledStartTime == nil then
            = video.publishedAt
          - elsif video.actualEndTime == nil then
            - if video.actualStartTime == nil then
              = video.scheduledStartTime.strftime("%Y.%m.%d %H:%M")
              から
              .planned
                公開予定
            - else
              = video.actualStartTime.strftime("%Y.%m.%d %H:%M")
              から
              .onair
                ライブ
          - else
            = video.actualEndTime.strftime("%Y.%m.%d %H:%M")
            配信済
  .pagination-all
    = paginate(@videos_all_page)

  .video-boxes-onair
    - @videos_onair.each do |video|
      .video-box
        .video-box--video
          = link_to "https://www.youtube.com/watch?v=#{video.videoId}", class: "video-box--name" do
            = image_tag(src= "#{video.cover}", class: "image", height:"118", width: "210")
          -# %iframe#player{frameborder: "0", height:"118", src: "https://www.youtube.com/embed/#{video.videoId}", type: "text/html", width: "210"}
        .video-box--name
          = link_to "https://www.youtube.com/watch?v=#{video.videoId}", class: "video-box--name" do
            = video.name
        .video-box--channel
          = link_to "https://www.youtube.com/channel/#{video.vtuber.channel}", class: "video-box--channel" do
            = video.vtuber.channelTitle
        .video-box--status
          - if video.scheduledStartTime == nil then
            = video.publishedAt
          - elsif video.actualEndTime == nil then
            - if video.actualStartTime == nil then
              = video.scheduledStartTime.strftime("%Y.%m.%d %H:%M")
              から
              .planned
                公開予定
            - else
              = video.actualStartTime.strftime("%Y.%m.%d %H:%M")
              から
              .onair
                ライブ
          - else
            = video.actualEndTime.strftime("%Y.%m.%d %H:%M")
            配信済
  .pagination-onair
    = paginate(@videos_onair)

  .video-boxes-planned
    - @videos_planned.each do |video|
      .video-box
        .video-box--video
          = link_to "https://www.youtube.com/watch?v=#{video.videoId}", class: "video-box--name" do
            = image_tag(src= "#{video.cover}", class: "image", height:"118", width: "210")
          -# %iframe#player{frameborder: "0", height:"118", src: "https://www.youtube.com/embed/#{video.videoId}", type: "text/html", width: "210"}
        .video-box--name
          = link_to "https://www.youtube.com/watch?v=#{video.videoId}", class: "video-box--name" do
            = video.name
        .video-box--channel
          = link_to "https://www.youtube.com/channel/#{video.vtuber.channel}", class: "video-box--channel" do
            = video.vtuber.channelTitle
        .video-box--status
          - if video.scheduledStartTime == nil then
            = video.publishedAt
          - elsif video.actualEndTime == nil then
            - if video.actualStartTime == nil then
              = video.scheduledStartTime.strftime("%Y.%m.%d %H:%M")
              から
              .planned
                公開予定
            - else
              = video.actualStartTime.strftime("%Y.%m.%d %H:%M")
              から
              .onair
                ライブ
          - else
            = video.actualEndTime.strftime("%Y.%m.%d %H:%M")
            配信済
  .pagination-planned
    = paginate(@videos_planned)