-# vtuber#show、vtuberが所有する動画を表示する画面
.detail
  -# vtuberのYouTubeチャンネルバナー
  .banner
    = image_tag(src= "#{@vtuber.banner}", class: "channel-banner")
  .sort-channel
    -# vtuberのYouTubeチャンネルアイコン
    .sort-channel--icon
      = image_tag(src= "#{@vtuber.icon}", class: "channel-icon")
    -# vtuberのYouTubeチャンネル名
    .sort-channel--name
      = @vtuber.channelTitle
    -# YouTubeへリンクする
    .sort-channel--channel
      = link_to "https://www.youtube.com/channel/#{@vtuber.channel}", class: "sort-channel--channel", target: :_blank do
        = icon('fab', 'youtube')
    -# Twitterへリンクする
    .sort-channel--twitter
      = link_to "https://twitter.com/#{@vtuber.twitter}", class: "sort-channel--twitter", target: :_blank do
        = icon('fab', 'twitter')
    -# 現在のvtuberをmylistに追加する
    .add-to-mylist
      = icon('fas', 'user-plus', class: 'add-to-mylist')

    -# 「All」,「ライブ配信中」,「公開予定」動画を表示するボタン
    .sort--all
      All
    .sort--onair
      ライブ配信中
    .sort--planned
      公開予定

  -# vtuberが所有する動画
  .contents
    -# All
    .video-boxes-all
      .video-days
        .video-days-title
          = icon('fas', 'chevron-down', class: 'video-days-icon-down')
          = icon('fas', 'chevron-up', class: 'video-days-icon-up')
          Today
        .video-days-contents
          - if @videos_all_today.length == 0 then
            動画配信情報ありません
          - else
            - @videos_all_today.each do |video|
              = render partial: 'video_template', locals: { video: video }

      .video-days
        .video-days-title
          = icon('fas', 'chevron-down', class: 'video-days-icon-down')
          = icon('fas', 'chevron-up', class: 'video-days-icon-up')
          Yesterday
        .video-days-contents
          - if @videos_all_yesterday.length == 0 then
            動画配信情報ありません
          - else
            - @videos_all_yesterday.each do |video|
              = render partial: 'video_template', locals: { video: video }

      .video-days
        .video-days-title
          = icon('fas', 'chevron-down', class: 'video-days-icon-down')
          = icon('fas', 'chevron-up', class: 'video-days-icon-up')
          Day before yesterday
        .video-days-contents
          - if @videos_all_2daysAgo.length == 0 then
            動画配信情報ありません
          - else
            - @videos_all_2daysAgo.each do |video|
              = render partial: 'video_template', locals: { video: video }

    -# ライブ配信中
    .video-boxes-onair
      - @videos_onair.each do |video|
        = render partial: 'video_template', locals: { video: video }
      - if @videos_onair.length == 0 then
        .novideo-notice
          このチャンネルにはライブ配信中の動画がありません

    -# 公開予定
    .video-boxes-planned
      - @videos_planned.each do |video|
        = render partial: 'video_template', locals: { video: video }
      - if @videos_planned.length == 0 then
        .novideo-notice
          このチャンネルには公開予定の動画がありません

    -# vtuberの最新tweet
    .tweet
      %a{class: "twitter-timeline", "data-width": "250", "data-height": "400", href: "https://twitter.com/#{@vtuber.twitter}?ref_src=twsrc%5Etfw"}
      %script{:async => "", :await => "", :src => "https://platform.twitter.com/widgets.js"}
