.detail
  .banner
    = image_tag(src= "#{@vtuber.banner}", class: "channel-banner")
  .sort-channel
    .sort-channel--icon
      = image_tag(src= "#{@vtuber.icon}", class: "channel-icon")
    .sort-channel--name
      = @vtuber.channelTitle
    .sort-channel--channel
      = link_to "https://www.youtube.com/channel/#{@vtuber.channel}", class: "sort-channel--channel" do
        = icon('fab', 'youtube')
    .sort-channel--twitter
      = link_to "https://twitter.com/#{@vtuber.twitter}", class: "sort-channel--twitter" do
        = icon('fab', 'twitter')
    .add-to-mylist
      = icon('fas', 'user-plus', class: 'add-to-mylist')

    .sort--all
      All
    .sort--onair
      ライブ配信中
    .sort--planned
      公開予定

  .contents
    .video-boxes-all
      - @videos_all_page.each do |video|
        = render partial: 'video_template', locals: { video: video }

    .video-boxes-onair
      - @videos_onair.each do |video|
        = render partial: 'video_template', locals: { video: video }
      - if @videos_onair.length == 0 then
        .novideo-notice
          このチャンネルにはライブ配信中の動画がありません

    .video-boxes-planned
      - @videos_planned.each do |video|
        = render partial: 'video_template', locals: { video: video }
      - if @videos_planned.length == 0 then
        .novideo-notice
          このチャンネルには公開予定の動画がありません

    .tweet
      %a{class: "twitter-timeline", "data-width": "250", "data-height": "400", href: "https://twitter.com/#{@vtuber.twitter}?ref_src=twsrc%5Etfw"}
      %script{:async => "", :await => "", :src => "https://platform.twitter.com/widgets.js"}
  
  .pagination-all
    = paginate(@videos_all_page)
  .pagination-onair
    = paginate(@videos_onair)
  .pagination-planned
    = paginate(@videos_planned)

