= form_for vtuber do |f|
  .vtuber-form__errors
    %h2 10件のエラーが発生しました
    %ul
      %li nameを入力してください

  .vtuber-form__field
    .vtuber-form__field--left
      = f.label :name, class: 'vtuber-form__label'
    .vtuber-form__field--right
      = f.text_field :name, class: 'vtuber_name vtuber-form__input', placeholder: 'vtuber名を入力してください'

    .vtuber-form__field--left
      = f.label :twitter, class: 'vtuber-form__label'
    .vtuber-form__field--right
      = f.text_field :twitter, class: 'vtuber_name vtuber-form__input', placeholder: 'twitterを入力してください'

    .vtuber-form__field--left
      = f.label :channel, class: 'vtuber-form__label'
    .vtuber-form__field--right
      = f.text_field :channel, class: 'vtuber_name vtuber-form__input', placeholder: 'チャンネルIDを入力してください'

      = f.select :company, @companies
  .mylist-form__field.clearfix
    .mylist-form__field--left
    .mylist-form__field--right
      = f.submit class: 'mylist-form__action-btn'