.leftbar
  .leftbar--section
    = link_to user_mylists_path(current_user.id) do
      .leftbar--section--icon
        = icon('fas', 'home', class: 'leftbar--section--icon')
      .leftbar--section--text
        ホーム
  .leftbar--section
    = link_to new_user_mylist_path(current_user.id) do
      .leftbar--section--icon
        = icon('fas', 'folder-plus', class: 'leftbar--section--icon')
      .leftbar--section--text
        mylist作成

.leftbar-detail
  .leftbar-detail--section
    = link_to user_mylists_path(current_user.id), class: "links" do
      = icon('fas', 'home', class: 'leftbar--menu--icon')
      .leftbar-detail--text
        ホーム
  - @mylists.each do |mylist|
    .leftbar-detail--section
      = link_to user_mylist_path(current_user, mylist.id), class: "links-mylist" do
        = icon('fas', 'folder-open', class: 'leftbar--menu--icon')
        .leftbar-detail--text
          = mylist.name
  .leftbar-detail--section
    = link_to new_user_mylist_path(current_user.id), class: "links" do
      = icon('fas', 'folder-plus', class: 'leftbar--menu--icon')
      .leftbar-detail--text
        mylist作成
