-# mylist#show画面に表示する動画ブロック内容
.video-box
  .video-box--video{value: video.videoId}
    -# = link_to "https://www.youtube.com/watch?v=#{video.videoId}", class: "video-box--name", target: :_blank do
    = image_tag(src= "#{video.cover}", class: "image", height:"118", width: "210")
    -# 動作が重くなるため、当初予定のiframeをコメントアウト、今後再起用可能
    -# %iframe#player{frameborder: "0", height:"118", src: "https://www.youtube.com/embed/#{video.videoId}", type: "text/html", width: "210"}
  -# 動画名はYouTubeへリンクする
  .video-box--name{value: video.videoId}
    -# = link_to "https://www.youtube.com/watch?v=#{video.videoId}", class: "video-box--name", target: :_blank do
    = video.name
  -# チャンネル名はYouTubeチャンネルへリンクする
  .video-box--channel
    = link_to "https://www.youtube.com/channel/#{video.vtuber.channel}", class: "video-box--channel", target: :_blank do
      = video.vtuber.channelTitle
  -# 動画の状態を「配信済」、「ライブ」、「公開予定」三種類分けて表示する
  .video-box--status
    - if video.actualStartTime == nil and video.actualEndTime == nil and video.scheduledStartTime == nil then
      = video.publishedAt.strftime("%Y.%m.%d %H:%M")
    - elsif video.actualEndTime == nil then
      - if video.actualStartTime == nil then
        = video.scheduledStartTime.strftime("%Y.%m.%d %H:%M")
        から
        .planned
          公開予定
      - else
        = video.actualStartTime.strftime("%Y.%m.%d %H:%M")
        から
        .onair
          ライブ
    - else
      = video.actualEndTime.strftime("%Y.%m.%d %H:%M")
      配信済