.wrapper
  .head
    = render "headbar"
  .body
    = render "leftbar"
    = render "detail"
  .add-to
    .add-to--form
      .add-to--form__header
        .add-to--form__header__text
          保存先...
        .add-to--form__header__icon
          = icon('fas', 'times', class: 'add-to--form__header__icon')
      .add-to--form__content
        = form_for @vtuber do |f|
          = collection_check_boxes :vtuber, :mylist_ids, @mylists, :id, :name do |mylist|
            = mylist.label { mylist.check_box + icon('fas', 'check', class: 'checked__icon') + mylist.text + icon('fas', 'folder-open', class: 'check__mylist__icon') }
      .add-to--form__footer
        .add-to--form__footer__icon
          = icon('fas', 'plus', class: 'add-to--form__footer__icon')
        .add-to--form__footer__text
          新しいmylistを作成